$website-width: 1000px;
$font: Arial, Helvetica, sans-serif;
$primary-color: #151515;
$secondary-color: #3C415C;
$tertiary-color: #301B3F;
$light-color: #b3b3b3;
$dark-color: #476983;

// $primary-color-2: #082032;
// $secondary-color-2: #2C394B;
// $tertiary-color-2: #FF4C29;
// $light-color-2: #c5c5c5;
// $dark-color-2: #476983;
