@media(max-width: 1100px) {
    .skills {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media(max-width: 875px) {
    .about-info {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        
        img {
            justify-self: center;
            margin-bottom: 1.5rem;
        }
    }
    .skills {
        display: flex !important;
        flex-direction: column;

        
    }
}

@media(max-width: 650px) {
    .text-fields {
        display: flex !important;
        flex-direction: column;
    }

    .experience {
        margin: 2rem 0 !important;

        .msg-box {
            padding: 1rem 0;

            h4, p {
                padding-bottom: 1rem;
            }
        }
    }

    .linux-img {
        width: 200px !important;
    }

    .contact-content {
        margin-bottom: 10rem !important;

        .contact-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .text-fields {
                margin-bottom: 1rem !important;
            }
        }
    }

}

@media(max-width: 435px) {
    .vscode-img {
        width: 200px !important;
    }
}

@media(max-width: 400px) {
    #main-nav {
        justify-content: center !important;

        .logo {
            display: none;
        }
    }

}

@media(max-height: 500px) {
    .profile-content {
        margin-top: 5rem !important;
        height: 100vh !important;
    }

    .contact-content {
        margin-bottom: 15rem !important;
    }
}
