@import 'config';
@import 'utilities';
@import 'media';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
    background-color: $primary-color;
    line-height: 1.6;
    color: set-text-color($primary-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: $light-color;

    &:hover {
        color: $tertiary-color;
    }
}

ul {
    list-style: none;
}

h1 {
    font-size: 2rem;
}

section {
    padding: 1rem 0;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 0;

    ul {
        display: flex;

        li {
            padding: 0 1rem;

            a {
                border-bottom: 3px transparent solid;
                padding-bottom: 0.3rem;
                transition: border-color 0.5s;

                &.current {
                    border-color: $secondary-color;
                }
            }
        }
    }
}

.profile-content {
    margin-top: 10rem;
    height: 65vh;
    text-align: center;

    img {
        width: 200px;
        margin-bottom: 10px;
    }

    p {
        padding-bottom: 10px;
        font-size: 1.2rem;
    }

    .fab {
        padding: 0.5rem;

        &:hover {
            color: $primary-color;
        }
    }
}

#profile, #about-me, #experience, #contact {
    background-color: $tertiary-color;
}

.about-me {
    margin-bottom: 5rem;
}

.about-info {
    margin-top: 5rem;
    display: grid;
    grid-template-areas: 'bio-image bio bio';

    img {
        width: 250px;
        margin-right: 2rem;
        grid-area: bio-image;
    }

    .bio {
        padding-top: 1rem;
        padding-bottom: 0;
        grid-area: bio;
    }
}

.skills {
    margin: 3rem;

    .progress {
        overflow: hidden;
        height: 20px;
        background: $light-color;
        border-radius: 5px;
        margin-bottom: 0.6rem;

        .progress-bar {
            height: 100%;
            color: set-text-color($primary-color);
            text-align: center;
            background: $tertiary-color;

            &.python {
                width: 80%;
            }

            &.rust {
                width: 70%;
            }

            &.javascript {
                width: 65%;
            }

            &.jquery {
                width: 60%;
            }

            &.html {
                width: 90%;
            }

            &.css {
                width: 85%;
            }

            &.sass {
                width: 80%;
            }

            &.bootstrap {
                width: 75%;
            }

            &.git {
                width: 80%;
            }

            &.linux {
                width: 70%;
            }

            &.vscode {
                width: 85%;
            }

            &.sql {
                width: 60%;
            }
        }
    }

    .skill-expander {
        margin-top: 2rem;

        &:hover {
            cursor: pointer;
            color: $tertiary-color;
        }
    }
}

.experience {
    margin: 5rem;

    img {
        width: 50px;
    }

    h4 {
        padding-bottom: 0.5rem;
    }

    .employer-info {
        margin-bottom: 1rem;
    }
}

.contact-form {
    margin: 5rem;
    
    p {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .text-fields {
        display: grid;
        grid-template-areas: 
            'name email'
            'subject phone'
            'message message';
        gap: 1.2rem;

        .field {
            padding: 0.5rem 1rem;
        }

        .name-input {
            grid-area: name;
        }
        
        .email-input {
            grid-area: email;
        }

        .subject-input {
            grid-area: subject;
        }

        .phone-input {
            grid-area: phone;
        }

        .message-input {
            grid-area: message;
            height: 100px;
        }
    }

    button[type='submit'] {
        width: 50%;
        padding: 0.8rem;
        cursor: pointer;
    }
}

.footer-content {
    text-align: center;
    padding: 1rem 0;
}